@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;600&family=Fredoka+One&family=Original+Surfer&family=Poiret+One&display=swap');

*{
     box-sizing: border-box;
}

body{
     font-family: 'Poiret One', sans-serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     margin: 0;
     overflow: hidden;
}